/******* TOAST *******/
.toast[b-q36bom9c90] {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--bs-body-bg);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(var(--bs-body-color-rgb), 0.2);
    font-size: 14px;
    z-index: 9999;
    display: none; /* Hidden by default, controlled by Blazor logic */
}

.toast-content[b-q36bom9c90] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toast-content span[b-q36bom9c90] {
    color: var(--bs-body-color);
}

.toast-close[b-q36bom9c90] {
    background: none;
    color: var(--bs-body-color);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.toast-close:hover[b-q36bom9c90] {
    color: #f0f0f0;
}